        <h1><%= @book[:title] %> by <%= @book[:author] %></h1>
<div class="row">


            <% for review in @reviews %>
                <div class="col-sm-4">
            <div class="card mb-3">    
            <% user = @users_table.where(:id => review[:user_id]).to_a[0] %>
                <h5 class="mt-0"><%= review[:rating] %> out of 5</h5>
                <%= review[:comments] %>
                <br>
                <b>Reviewed by <%= user[:name] %></b>
                            </div>
                             </div>
            <% end %>

</div>
        <p class="mt-5">
            <a href="/books/<%= @book[:id] %>/reviews/new" class="btn btn-primary">Write your review!</a>
        </p>

            </div>