<div class="row">
    <div class="col-sm-9">
        <h1><%= @book[:title] %> by <%= @book[:author] %></h1>
            <% for review in @reviews %>
                <% user = @users_table.where(:id => review[:user_id]).to_a[0] %>
                <h5 class="mt-0"><%= review[:rating] %></h5>
                <%= review[:comments] %>
                Reviewed by <%= user[:username] %>
            <% end %>
</div>